# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* List popular languages for Data Science
* Sources of data sets
* Libraries for data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JAVA
4. Julia

Some commonly used libraries by Data scientists include:
1. Pandas
2. keras
3. plotly

| Data Science Tools |
| ------------------ |
| R |
| Anaconda |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minute = 200 
time_hours = minute/60
x = float(time_hours)
print(x, "hours")

3.3333333333333335 hours

## Author
Thalha